node_modules
dist
CLAUDE.md
nginx.conf
Dockerfile
docs
.DS_Store
server-dotnet/**/.env
server-dotnet/**/appsettings.Development.json
server-dotnet/**/*.user
server-dotnet/**/.vs
server-dotnet/**/bin
server-dotnet/**/obj
DEPLOY.md
.claude